body {
    counter-reset: chapter section;
}

h2:before {
    counter-increment: chapter; /* Add 1 to chapter */
    content: "Chapter " counter(chapter) " - ";
}

h2 {
    counter-reset: section;
}
h3:before {
    counter-increment: section; /* add 1 to section */
    content: "Section " counter(chapter)"."counter(section) " - ";
}

table, td, th, tr {
    border: 1px solid;
}